.button {
    background-color: $gold;
    width: 180px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    font-family: $pfd;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    @media (max-width: 1500px) {
        width: 160px;
        height: 50px;
        line-height: 50px;
    }
}

.post-permalink {
    color: $gold;
    text-transform: uppercase;
    font-family: $pfd;
    font-weight: 500;
    letter-spacing: 0.15em;
    font-size: 16px;
}


.slick-arrow,
.slick-arrow:focus,
.slick-arrow:active,
.slick-arrow:hover {
    width: 45px;
    height: 45px;
    z-index: 10;
    @include transition(all, .2s);
    background-color: $text;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: 8px 8px;
         -o-background-size: 8px 8px;
            background-size: 8px 8px;
    &:before {
        display: none;
    }
}
.slick-arrow:hover {
    opacity: .8;
}
.slick-next,
.slick-next:hover,
.slick-next:focus {
    right: 15px;
    background-image: url("../images/right-ar.svg");
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
    left: 15px;
    background-image: url("../images/left-ar.svg");
}





/* Form */

form {
    text-align: left;

    .form-group {
        width: 100%;
        text-align: left;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        label {
            display: block;
            color: $text;
            font-family: $pfd;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-weight: 500;
            margin-bottom: 4px;
        }
    }

    input[type=text],
    input[type=email],
    input[type=phone],
    textarea {
        width: 100%;
        height: 50px;
        display: block;
        padding: 0 10px;
        border: 2px solid #D5D7DB;
    }

    textarea {
        padding: 15px 10px;
        height: 200px;
        resize: none;
    }

    button {
        height: 60px;
    }
}