.products {
    @include flex($alignI:flex-start, $justify:center);
    margin: 0 - 14px;
}

.product-card {
    display: block;
    width: 270px;
    padding: 10px;
    position: relative;
    background-color: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    margin: 0 14px 25px;
    color: $text;
    @include transition(all, .2s);
    &:hover {
        box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.15);
        -webkit-transform: translateY(-20px);
           -moz-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
             -o-transform: translateY(-20px);
                transform: translateY(-20px);
    }
    &__img {
        height: 190px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    &__tag {
        background-color: $text;
        text-align: center;
        color: #FFF;
        font-family: $pfd;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 400;
        display: block;
        padding: 8px 18px;
        position: absolute;
        left: 50%;
        top: 183px;
        -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
             -o-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    &__info {
        height: 140px;
        padding: 10px;
        padding-bottom: 0;
        text-align: center;
        &:before {
            display: inline-block;
            vertical-align: middle;
            content: "";
            height: 100%;
        }
        p {
            display: inline-block;
            vertical-align: middle;
            font: 700 26px $l;
            max-width: 95%;
        }
    }
}

.ornament-bg {
    background-image: url("../images/ornament-bg.jpg");
    background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
}
.hot-offers {
    padding: 70px 0;
    @media (max-width: 600px) {
        padding: 40px 0;
    }
}
.hot-offers-list {
    @include flex($alignI:stretch, $justify:flex-start);
    margin: 0 - 14px;
    @media (max-width: 1200px) {
        -webkit-align-items: flex-start;
                align-items: flex-start;
    }
    @media (max-width: 760px) {
        display: block;
        margin: 0 auto;
    }
}
.hot-offer {
    background-color: #09152e;
    width: 30%;
    margin: 0 1.5% 25px;
    @media (max-width: 1100px) {
        width: 31%;
        margin: 0 1% 25px;
    }
    @media (max-width: 760px) {
        width: 400px;
        max-width: 100%;
        margin: 0 auto 20px;
    }
    &__info {
        padding: 25px;
        color: #FFF;
        text-align: left;
        @media (max-width: 1100px) {
            padding: 15px;
        }
        @media (max-width: 900px) {
            padding: 15px 10px;
        }
        @media (max-width: 760px) {
            padding: 25px;
        }
        strong {
            font-size: 18px;
            display: block;
            margin-bottom: 15px;
            @media (max-width: 1200px) {
                font-size: 17px;
            }
            @media (max-width: 1000px) {
                font-size: 16px;
            }
            @media (max-width: 900px) {
                font-size: 15px;
            }
        }
        p {
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            @media (max-width: 1200px) {
                font-size: 14px;
                line-height: 1.6;
            }
            @media (max-width: 1000px) {
                font-size: 13px;
            }
            @media (max-width: 900px) {
                font-size: 12px;
            }
        }
    }
    &__head {
        padding: 20px 20px 5px;
        min-height: 120px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
        background: #0A1833;
        -webkit-background-position: 100% 0;
            -o-background-position: 100% 0;
            background-position: 100% 0;
        -webkit-background-size: 100% auto;
                 -o-background-size: auto 100%;
                    background-size: auto 100%;
        @media (max-width: 1100px) {
            padding-top: 10px;
            min-height: 110px;
        }
        img {
            display: block;
            margin: 0 auto 16px;
        }
        span {
            font-size: 20px;
            text-transform: uppercase;
            color: #FFF;
            font-family: $pfd;
            letter-spacing: 1px;
        }
    }
    &--package {
        .hot-offer__head {
            background-image: url("../images/package.jpg");
        }
    }
    &--deals {
        .hot-offer__head {
            background-image: url("../images/deals.jpg");
        }
    }
    &--banner {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        @media (max-width: 1200px) {
            &:after {
                content: "";
                display: block;
                padding-top: 100%;
            }
        }
    }
}

.hot-offer--banner {
    background-color: peru;
}