@font-face {
    font-family: 'Lora';
    src: url('../fonts/subset-Lora-Bold.eot');
    src: url('../fonts/subset-Lora-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/subset-Lora-Bold.woff') format('woff'),
         url('../fonts/subset-Lora-Bold.ttf') format('truetype'),
         url('../fonts/subset-Lora-Bold.svg#Lora-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Lora';
    src: url('../fonts/subset-Lora-Regular.eot');
    src: url('../fonts/subset-Lora-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/subset-Lora-Regular.woff') format('woff'),
         url('../fonts/subset-Lora-Regular.ttf') format('truetype'),
         url('../fonts/subset-Lora-Regular.svg#Lora-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('../fonts/subset-PFDinTextCompPro-Light.eot');
    src: url('../fonts/subset-PFDinTextCompPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/subset-PFDinTextCompPro-Light.woff') format('woff'),
         url('../fonts/subset-PFDinTextCompPro-Light.ttf') format('truetype'),
         url('../fonts/subset-PFDinTextCompPro-Light.svg#PFDinTextCompPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('../fonts/subset-PFDinTextCompPro-Regular.eot');
    src: url('../fonts/subset-PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/subset-PFDinTextCompPro-Regular.woff') format('woff'),
         url('../fonts/subset-PFDinTextCompPro-Regular.ttf') format('truetype'),
         url('../fonts/subset-PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('../fonts/subset-PFDinTextCompPro-Medium.eot');
    src: url('../fonts/subset-PFDinTextCompPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/subset-PFDinTextCompPro-Medium.woff') format('woff'),
         url('../fonts/subset-PFDinTextCompPro-Medium.ttf') format('truetype'),
         url('../fonts/subset-PFDinTextCompPro-Medium.svg#PFDinTextCompPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}