.therapists-page {
    padding-bottom: 150px;

    .short-page-content img {
        -webkit-transform: translateY(-57%);
        -ms-transform: translateY(-57%);
        -o-transform: translateY(-57%);
        transform: translateY(-57%);
    }
}