.services {
    padding-top: 60px;
    .service {
        &:nth-of-type(2n) {
            .wrapper {
                -webkit-flex-direction: row-reverse;
                    -ms-flex-direction: row-reverse;
                        flex-direction: row-reverse;
            }
            .service__info {
                padding-right: 0;
                padding-left: 60px;
                @media (max-width: 760px) {
                    padding-left: 0;
                }
            }
        }
    }
}
.service {
    border-bottom: 5px solid #fff;
    padding: 70px 0;
    @media (max-width: 760px) {
        padding: 50px 0;
    }
    .wrapper {
        @include flex($alignI:stretch);
        @media (max-width: 760px) {
            display: block;
        }
    }
    &__info {
        width: 50%;
        padding-right: 60px;
        text-align: left;
        @media (max-width: 760px) {
            width: 100%;
            padding-right: 0;
            margin-bottom: 40px;
            text-align: center;
            padding: 0 10% !important;
        }
        p {
            font-size: 15px;
            line-height: 30px;
            color: #FFF;
            margin-bottom: 25px;
            &:last-of-type {
                margin-bottom: 0;
            }
            @media (max-width: 1200px) {
                font-size: 14px;
                line-height: 1.6;
            }
            @media (max-width: 1000px) {
                font-size: 13px;
            }
            @media (max-width: 900px) {
                font-size: 12px;
            }
        }
        h2 {
            color: $gold;
            font-size: 50px;
            margin-bottom: 40px;
            @media (max-width: 1000px) {
                margin-bottom: 30px;
            }
            @media (max-width: 760px) {
                margin-bottom: 20px;
                font-size: 40px;
            }
        }
        .price {
            display: block;
            color: $gold;
            text-transform: uppercase;
            font-size: 30px;
            font-family: $pfd;
            margin-bottom: 20px;
            font-weight: 500;
        }
        .button {
            margin-top: 50px;
             @media (max-width: 1200px) {
                margin-top: 40px;
            }
            @media (max-width: 1000px) {
               margin-top: 30px;
            }
            @media (max-width: 900px) {
                margin-top: 20px;
            }
        }
    }
    &__img {
        width: 50%;
        text-align: center;
        @media (max-width: 760px) {
            width: 100%;
        }
        &:before {
            display: inline-block;
            vertical-align: middle;
            content: "";
            height: 100%;
        }
        img {
            display: inline-block;
            vertical-align: middle;
            border: 10px solid #fff;
            max-width: 98%;
        }
    }
}

.service-archive {
    .products {
        margin-top: 60px;
    }
}

.single-service {
    .service {
        padding: 0;
        -webkit-align-items: flex-start;
                align-items: flex-start;
    }
    .service__info {
        padding-left: 40px;
        padding-right: 0;
        p {
            color: #848484;
            line-height: 25px;
        }
        h2 {
            color: $text;
            font-family: $l;
            font-weight: 700;
            font-size: 30px;margin-bottom: 16px;
        }
        .button {
            margin-top: 10px;
        }
    }
    .service__img {
        img {
            display: block;
            border: none;
            width: 100%;
        }
        &:before {
            display: none;
        }
    }
}