// COLORS
// ---------------------------
$text: #081226;
$gold: #c9935c;

// FONTS
// ---------------------------
$l:                         'Lora';
$pfd:                       'PF Din Text Comp Pro';


// RESPONSIVE
// ---------------------------
